<head>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Columns</title>
</head>
<body>
  <div id="wrap">
    <div id="header"><h1>Hello</h1></div>
    <div id="nav">
      <ul>
        <li><a href="#">option 1</a></li>
        <li><a href="#">option 3</a></li>
        <li><a href="#">option 4</a></li>
        <li><a href="#">option 5</a></li>
        <li><a href="#">option 6</a></li>
      </ul>
    </div>
    <div id="main">
      <h2>Column 1</h2>
      <p>Microdosing pickled pitchfork, locavore celiac blue bottle migas yr. Whatever cardigan bicycle rights twee four dollar toast swag. Mustache iceland truffaut swag pour-over, before they sold out coloring book PBR&B master cleanse yr vice. Jianbing 3 wolf moon subway tile PBR&B hot chicken, semiotics vinyl banh mi bespoke. Echo park fanny pack occupy, gentrify bitters shabby chic meggings ugh fap typewriter marfa. Put a bird on it mumblecore sriracha 90's truffaut. Organic vice man bun, tote bag disrupt street art intelligentsia direct trade brunch.</p>
      <p>Distillery portland ennui, vaporware irony farm-to-table bespoke umami mixtape sriracha PBR&B neutra flexitarian. Knausgaard celiac shabby chic DIY. Small batch cronut kinfolk ethical banjo cold-pressed. Woke chambray vinyl, farm-to-table pinterest poutine cornhole locavore humblebrag sustainable knausgaard before they sold out subway tile VHS. Fap pop-up kale chips gastropub fixie shoreditch, yuccie cold-pressed squid. Vaporware pickled sustainable neutra actually ugh. Disrupt hell of flexitarian heirloom glossier forage.</p>
      <p>Jianbing blue bottle banh mi, salvia craft beer authentic whatever. Bushwick poke tilde, ramps before they sold out etsy viral whatever hammock truffaut bitters man braid slow-carb. Humblebrag sartorial raclette, occupy jianbing semiotics echo park cliche pok pok. Vape blue bottle hell of, slow-carb williamsburg umami put a bird on it. Hot chicken kombucha swag, blue bottle godard banjo kickstarter banh mi locavore gastropub letterpress vegan post-ironic wolf. YOLO microdosing raclette, pinterest green juice fixie austin pabst vice. Cornhole yuccie actually enamel pin fashion axe you probably haven't heard of them, vegan selvage.</p>
      <p>Cornhole cliche hoodie XOXO, mlkshk readymade master cleanse tumeric normcore fam glossier crucifix chartreuse vaporware. Enamel pin distillery fanny pack master cleanse keytar, swag truffaut slow-carb man bun typewriter pinterest craft beer tumblr tousled. Forage jianbing biodiesel, celiac etsy cliche cardigan franzen iPhone selvage man bun listicle ugh. Humblebrag cliche raw denim raclette helvetica sartorial. Slow-carb tilde bitters microdosing, selfies truffaut sartorial kale chips occupy la croix af poke plaid migas skateboard. Meggings tilde hoodie try-hard hexagon, vaporware biodiesel selvage church-key af. Gochujang air plant bespoke selvage organic, marfa messenger bag cold-pressed celiac cronut blue bottle try-hard lyft.</p>
    </div>
    <div id="sidebar">
      <h2>Column 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
      </ul>
    </div>
    <div id="footer">
      <p>
        Footer
      </p>
    </div>
  </div>
</body>
