<div class="treehouse-block">


  <div class="treehouse-container">
    <header>
      <h6>118 min</h6>
    </header>
    <div class="content">
      <h4>Course</h4>
      <h2>Java Annotations</h2>
      <p>
        Annotations have rapily become cool and integrating powerful third-party libraries.
      </p>
      <h4 class="treehouse-buttons">Java</h4>
      <h4 class="treehouse-buttons">Intermediate</h4>
    </div>
  </div>

  <div class="treehouse-container">
    <header class="top-right">
      <h6>118 min</h6>
    </header>
    <div class="content">
      <h4>Course</h4>
      <h2>Java Annotations</h2>
      <p>
        Annotations have rapily become cool and integrating powerful third-party libraries.
      </p>
      <div class="row">
        <h4 class="treehouse-buttons">Java</h4>
        <h4 class="treehouse-buttons">Intermediate</h4>
      </div>
    </div>
  </div>

  <div class="treehouse-container">
    <header class="bottom-left">
      <h6>118 min</h6>
    </header>
    <div class="content">
      <h4>Course</h4>
      <h2>Java Annotations</h2>
      <p>
        Annotations have rapily become cool and integrating powerful third-party libraries.
      </p>
      <h4 class="treehouse-buttons">Java</h4>
      <h4 class="treehouse-buttons">Intermediate</h4>
    </div>
  </div>

  <div class="treehouse-container">
    <header class="bottom-right">
      <h6>118 min</h6>
    </header>
    <div class="content">
      <h4>Course</h4>
      <h2>Java Annotations</h2>
      <p>
        Annotations have rapily become cool and integrating powerful third-party libraries.
      </p>
      <h4 class="treehouse-buttons">Java</h4>
      <h4 class="treehouse-buttons">Intermediate</h4>
    </div>
  </div>
</div>
